{% extends "base.html" %}
{% block content %}
{% load staticfiles %}


<div align="center" class="center-login">
    <form action="/movie-list/">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </form>
</div>

{% endblock %}
