{% extends "base.html" %}
{% block content %}
    {% if error %}
      {{ error }}
    {% endif %}
<div class="container" style="width:50%" align="center">
  <h2>Sign up</h2>
  <br><br>
  <form action="/register/" method="post">
    {% csrf_token %}
    <label class="labels_register">Username</label>
    <input class="list_register" type="text" name="username" id="username">
    <br><br>

    <label class="labels_register">Email</label>
    <input class="list_register" type="email" name="email" id="email">
    <br><br>

    <label class="labels_register">Password</label>
    <input class="list_register" type="password" name="password" id="password">
    <br><br>
    <button type="submit">Sign up</button>
    <br><br>
    <a class="navbar-brand" href='{% url "login" %}'>Login</a>
  </form>
</div>
{% endblock %}