{% extends "base.html" %}
{% block content %}
<div class="container" style="width:80%;">
    <input value="{{movie_id.pk}" class="image" style="width:98.5%;height:80%" type="image"
                   src="{{movie_id.movie_image.url}}" alt="submit">
</div>

 <table class="table-striped date_button" ><tr style="border:0;white;">
    {% for date in Date %}
        <form action="{% url 'Booking:movie-list-detail' pk=movie_id.id %}" method="get">
            {% csrf_token %}
                <td style="padding:5px;border:0;color:white;">
                    <input type="hidden" id="date_screen" name="date_screen" value="{{date.date_screen_id.id}}" >
                    <button type="submit" class="btn date-button">{{date.date_screen_id.date|date:"d"}}</button>
                </td>
        </form>

    {% endfor %}
 </tr>
 </table>
<br>

<div class="container">
    <table class="table table-striped">
        {% for i in Theater %}
                <tr>
                    <td class="detail_movies">
                        {{i.theater_screen_id.theater_name}}
                    </td>
                    <td class="detail_movies">
                        {% for show in Screen_Select %}
                        <form action="/seat-booking/" method="get">
                                {% if i.theater_screen_id == show.theater_screen_id %}
                                    <input type="hidden" id="theater_screen_id" name="theater_screen" value="{{show.theater_screen_id.id}}">
                                    <input type="hidden" id="movie_screen_id" name="movie_screen" value="{{show.movie_screen_id.id}}">
                                    <input type="hidden" id="show_screen_id" name="show_screen" value="{{show.show_screen_id.id}}">
                                    <input type="hidden" id="date_screen_id" name="date_screen" value="{{show.date_screen_id.id}}" >
                                    <button id="{{show.show_screen_id}}" class="btn btn-light booking_show">
                                        {{show.show_screen_id.show}}
                                    </button>
                                {% endif %}
                            </form>
                        {% endfor %}
                    </td>
                </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}

