{% extends "base.html" %}
{% block content %}
<div class="container" style="width:80%;">
    <input value="{{movie_id.pk}" class="image" style="width:98.5%;height:80%" type="image"
                   src="{{movie_id.movie_image.url}}" alt="submit">
</div>

 <table class="table-striped date_button" ><tr style="border:0;white;">
    {% for date in Date %}
        <form action="{% url 'Booking:movie-list-detail' pk=movie_id.id %}" method="get">
            {% csrf_token %}
                <td style="padding:5px;border:0;color:white;">
                    <input type="hidden" id="date_screen" name="date_screen" value="{{date.date_screen_id.id}}" >
                    <button type="submit" class="btn date-button">{{date.date_screen_id.date|date:"d"}}</button>
                </td>
        </form>

    {% endfor %}
 </tr>
 </table>
<br>

<div class="container">
    <table class="table table-striped">
        {% for i in Theater %}
        {% with forloop.counter as counter %}

                {% csrf_token %}
                <tr>
                    <td class="detail_movies">

                                {{i.theater_screen_id.theater_name}}
                    </td>
                    <td class="detail_movies">
                        {% for show in Screen_Select %}
                        <form action="/seat-booking/" method="get">
                                {% if i.theater_screen_id == show.theater_screen_id %}
                                    <input type="hidden" id="theater_screen_id" name="theater_screen" value="{{show.theater_screen_id.id}}">
                                    <input type="hidden" id="movie_screen_id" name="movie_screen" value="{{show.movie_screen_id.id}}">
                                    <input type="hidden" id="show_screen_id" name="show_screen" value="{{show.show_screen_id.id}}">
                                    <input type="hidden" id="date_screen_id" name="date_screen" value="{{show.date_screen_id.id}}" >
                                    <button id="{{show.show_screen_id}}" class="btn btn-light booking_show">
                                        {{show.show_screen_id.show}}
                                    </button>
                                {% endif %}
                            </form>
                        {% endfor %}
                    </td>
                </tr>

        {% endwith %}
        {% endfor %}
    </table>

</div>
{% endblock %}


<!--<script type="text/javascript">-->

<!--function myFunction(button){-->
    <!--var theater_screen = document.getElementById('theater_screen_id').value;-->
    <!--var movie_screen = document.getElementById('movie_screen_id').value;-->
    <!--var show_screen = document.getElementById('show_screen_id').value;-->
    <!--var date_screen = document.getElementById('date_screen_id').value;-->

    <!--$.ajax({-->
						<!--url: '/seat-booking/',-->
						<!--type: 'POST',-->
						<!--data: {'theater_screen':theater_screen, 'movie_screen':movie_screen, 'show_screen':show_screen, 'date_screen':date_screen, 'csrfmiddlewaretoken': '{{csrf_token}}'},-->
						<!--dataType: "json",-->

						<!--success: function(result){-->
							<!--alert("Success")-->

						<!--},-->

						<!--error: function(result){-->
							<!--console.log(result);-->
							<!--alert(result);-->

						<!--},-->
			<!--});-->




<!--}-->

<!--</script>-->




<!--<div class="row">-->
<!--<h4>-->
<!--<div class="col-sm-3">-->
<!--<img class="image" style="width:40%;height:30%;" src="{{i.theater_screen_id.theater_image.url}}">-->
<!--</div>-->
<!--<div class="col-sm-3">-->
<!--{{i.show_screen_id}}-->
<!--</div>-->
<!--<div class="col-sm-3">-->
<!--{{i.date}}-->
<!--</div>-->
<!--</h4>-->
<!--</div>-->

