{% extends "base.html" %}
{% block content %}
{% load staticfiles %}


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="container">
  <div id="chart_div" style="width: 80%; height: 400px;"></div>
</div>
<script type="text/javascript">
google.charts.load('current', {'packages':['bar']});
google.charts.setOnLoadCallback(chartDisplay);

function chartDisplay(){
    $.ajax({
                        url: "/google-chart/",
                        type: 'POST',
                        data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
                        dataType: "json",
                        success: function (data){
                           console.log(data)


                              var data = google.visualization.arrayToDataTable(data);

                             var options = {
                              chart: {
                                title: 'Movies seats booked status',
                              }
                            };

                              var chart = new google.charts.Bar(document.getElementById('chart_div'));
                              chart.draw(data, google.charts.Bar.convertOptions(options));


                        },
                        error: function(data){
                            console.log("fail");

                        }
    });



}




</script>

{% endblock %}