{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="container container-corousel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for movie in context.movie_list %}
            {% if forloop.first %}
                <li data-target="{{forloop.counter}}" data-slide-to="{{forloop.counter0}}" class="active"></li>
            {% else %}
                <li data-target="{{forloop.counter}}" data-slide-to="{{forloop.counter0}}"></li>
            {% endif %}

        {% endfor %}
    </ol>

    <div class="carousel-inner">
      {% for movie in context.movie_list %}
        {% if forloop.first %}
            <div class="active item">
        {% else %}
            <div class="item">
        {% endif %}
         <a href="{% url 'Booking:movie-list-detail' pk=movie.id %}">
            <input value="{{movie.pk}}" class="image" style="width:98.5%;height:80%" type="image"
                   src="{{movie.movie_image.url}}" alt="submit">
            </a>
        </div>
        {% endfor %}
    </div>


    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



<div class="container container-corousel" style="margin-top:1%;">
    <table><tr>
    {% for movie in context.movie_list %}
        <td>
            <a href="{% url 'Booking:movie-list-detail' pk=movie.id %}">
            <input value="{{movie.pk}}" class="image" style="width:98.5%;height:80%" type="image"
                   src="{{movie.movie_image.url}}" alt="submit">
            </a>
        </td>
        {% if forloop.last %}
            </tr>
        {% else %}
            {% if forloop.counter|divisibleby:"3" %}
                </tr><tr>
            {% endif %}
        {% endif %}
    {% endfor %}
    </table>

<br><br><br><br>
</div>

<br><br><br><br>

  <!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
  <!--<div id="chart_div" style="width: 80%; height: 400px;"></div>-->

<!--<script type="text/javascript">-->
<!--google.charts.load('current', {'packages':['bar']});-->
<!--google.charts.setOnLoadCallback(chartDisplay);-->

<!--function chartDisplay(){-->
    <!--$.ajax({-->
                        <!--url: "/google-chart/",-->
                        <!--type: 'POST',-->
                        <!--data: {'csrfmiddlewaretoken': '{{csrf_token}}'},-->
                        <!--dataType: "json",-->
                        <!--success: function (data){-->
                           <!--console.log(data)-->


                              <!--var data = google.visualization.arrayToDataTable(data);-->

                             <!--var options = {-->
                              <!--chart: {-->
                                <!--title: 'Movies seats booked status',-->
                              <!--}-->
                            <!--};-->

                              <!--var chart = new google.charts.Bar(document.getElementById('chart_div'));-->
                              <!--chart.draw(data, google.charts.Bar.convertOptions(options));-->


                        <!--},-->
                        <!--error: function(data){-->
                            <!--console.log("fail");-->

                        <!--}-->
    <!--});-->



<!--}-->




<!--</script>-->

{% endblock %}
<!--<div class="container-fluid">-->
    <!--{% for movie in movie %}-->
    <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
            <!--<a href="{% url 'Booking:movie-list-detail' pk=movie.id %}">-->
            <!--<input value="{{movie.pk}}" class="image" style="width:98.5%;height:80%" type="image"-->
                   <!--src="{{movie.movie_image.url}}" alt="submit">-->
            <!--</a>-->
        <!--</div>-->
        <!--{% if forloop.last %}-->
            <!--</div>-->
        <!--{% else %}-->
            <!--{% if forloop.counter|divisibleby:"3" %}-->
                <!--</div>-->
            <!--{% endif %}-->
        <!--{% endif %}-->
    <!--{% endfor %}-->
<!--</div>-->