{% extends "base.html" %}
{% block content %}
{% load static %}

<input type="hidden" onload="buttonDisable()">

        <div class="container " style="width:60%;" align="center">
            {% for row, value in context.items %}
                {% with forloop.counter as outer_counter %}
                <div class="row" style="margin-left:10%;margin-right:0%;height:5px;">
                    <div class="col-sm-1" style="width:7%;height:3%;margin-top:1%;">{{row}}</div>
                {% for column in value %}
                    {% with forloop.counter as column %}
                    {% with row|add:row as id %}
                    <div>{{id}}</div>
                     <div class="col-sm-1" style="width:7%;height:1%;">
                        <button id="{{row}}{{forloop.counter}}"  class="btn" {% if id in list_seat %}
                                                disabled
                                            {% else %}
                                                onclick="myFunction(this);"
                                            {% endif %}>
                            {{id}}
                        </button>
                     </div>
                    {% if forloop.counter|divisibleby:5 %}
                    <div class="col-sm-1 seats" style="width:7%;height:3%;margin-top:1%;"></div>
                    {% endif %}
                    {% endwith %}
                    {% endwith %}
                {% endfor %}
                {% if forloop.counter|divisibleby:5 %}
                    </div><div class="row">
                {% endif %}
                </div>
                {% endwith %}
            {% endfor %}

            <div class="row seat">
                        <input type="hidden" id="theater_id" name="theater_screen" value="{{theater_booking}}">
                        <input type="hidden" id="movie_id" name="movie_screen" value="{{movie_booking}}">
                        <input type="hidden" id="show_id" name="show_screen" value="{{show_booking}}">
                        <input type="hidden" id="date_id" name="show_screen" value="{{date_booking}}">
                        <button class="btn btn-md book_button" id="btn" type="submit" onclick="book()">Book</button>
             </div>
            <hr>
            <div class="container seat_arrangement" style="width:40%;" align="center">
                <h2><label class="eyes_font">
                    Eyes On Screen Here
                </label></h2>
                <img src="{% static 'media/screen.jpg' %}" style="width:80%;height:80px;"/>
        </div>
        </div>
<script>
 var seat_list = [];

        function myFunction(button){
            var button = document.getElementById(button.id);
            button_id = button.id
            if (seat_list.includes(button_id)){
                for(i=0; i<=seat_list.length; i++)
                {
                   if (seat_list[i]==button_id){
                    seat_list.splice(i, 1);
                    button.style.background = "";
                   }
                }
            }
            else{
                seat_list.push(button_id);
                button.style.background = "#ff9999";
            }
            console.log(seat_list)
        }

    function book(){
        var x
        var date_id = document.getElementById("date_id").value;
        var theater_id = document.getElementById("theater_id").value;
        var movie_id = document.getElementById("movie_id").value;
        var show_id = document.getElementById("show_id").value;
        <!--console.log(date_id);-->
        <!--console.log(theater_id);-->
        <!--console.log(movie_id);-->
        <!--console.log(show_id);-->
        $.ajax({
                        url: "/booking-create/",
                        type: 'POST',
                        data: {'seat_list':seat_list, 'theater_id':theater_id, 'movie_id':movie_id, 'show_id':show_id, 'date_id':date_id, 'csrfmiddlewaretoken': '{{csrf_token}}'},
                        dataType: "json",
                        //crossDomain:true,
                        success: function(data){
                            <!--console.log("success");-->
                            <!--console.log(data);-->
                            for(i=0; i < data.length; i++){
                                <!--console.log(data[i]);-->
                                x = data[i]
                                document.getElementById(x).style.background = "#b3ecff";
                                document.getElementById(x).disabled = true;
                            }
                            alert("Seats are booked");
                            location.href="/movie-list";
                        },
                        error: function(data){
                            console.log("fail");

                        },
                    });
        }


<!--window.addEventListener('load',-->
  <!--function() {-->
    <!--var x;-->
    <!--var seat;-->
     <!--var date_id = document.getElementById("date_id").value;-->
     <!--var theater_id = document.getElementById("theater_id").value;-->
     <!--var movie_id = document.getElementById("movie_id").value;-->
     <!--var show_id = document.getElementById("show_id").value;-->
     <!--console.log(date_id);-->
     <!--console.log(theater_id);-->
     <!--console.log(date_id);-->
     <!--console.log(date_id);-->
    <!--$.ajax({-->
                        <!--url: "/seat-booked/",-->
                        <!--type: 'POST',-->
                        <!--data: {'theater_id':theater_id, 'movie_id':movie_id, 'show_id':show_id, 'date_id':date_id,'csrfmiddlewaretoken': '{{csrf_token}}'},-->
                        <!--dataType: "json",-->
                        <!--success: function (data){-->
                            <!--&lt;!&ndash;console.log(data[list_seat]);&ndash;&gt;-->
                            <!--console.log(data.list_seat);-->
                            <!--console.log(data.theater_id);-->
                            <!--console.log(data.movie_id);-->
                            <!--console.log(data.show_id);-->
                            <!--console.log(data.date_id);-->
                            <!--var seat_all = data;-->
                            <!--for(var seat in data.list_seat){-->
                            <!--console.log(data.list_seat[seat]);-->
                                <!--x = data.list_seat[seat]-->
                                <!--document.getElementById(x).style.background = "#b3ecff";-->
                                <!--document.getElementById(x).disabled = true;-->
                            <!--}-->
                            <!--var t = document.getElementById("theater_id");-->
                            <!--t.value = data.theater_id;-->


                            <!--var m = document.getElementById("movie_id");-->
                            <!--m.value = data.movie_id;-->

                            <!--var show = data.show_id-->
                            <!--var s = document.getElementById("show_id");-->
                            <!--s.value = show-->

                            <!--var date = data.date_id-->
                            <!--var d = document.getElementById("date_id");-->
                            <!--d.value = date-->
                        <!--},-->
                        <!--error: function(data){-->
                            <!--console.log("fail");-->

                        <!--},-->
    <!--});-->
  <!--}, false);-->


</script>
{% endblock %}













