{% extends "base.html" %}
{% block content %}

<div class="container" style="width:80%;"><div class="col-sm-3">hi</div>
    <table class="table table-striped date_button">
        <thead>
          <tr>
            <th>Theater</th>
            <th>Movie</th>
            <th>Show</th>
            <th>Screen</th>
            <th>Seat</th>
            <th>Date</th>
            <th>Booked On</th>
          </tr>
        </thead>
        <tbody>
            {% for booking in object_list %}
                <tr>
                    <td>{{booking.theater_id.theater_name}}</td>
                    <td>{{booking.movie_id.movie_name}}</td>
                    <td>{{booking.show_id.show}}</td>
                    <td>{{booking.screen_id.screen}}</td>
                    <td>{{booking.seat}}</td>
                    <td>{{booking.date_id.date}}</td>
                    <td>{{booking.date_today}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}


