.container {
    width: 100%;
    position:relative;
    background: url(http://www.fillster.com/images/backgrounds/126d.gif);
    background-repeat: repeat;
    background-attachment: scroll;
    background-attachment: fixed;
    background-repeat: repeat;
}

.list{
    float : right;
    margin-right:5%;
}

.row{
    margin-top:5%;
}

.button_book{
    margin-left: 50%;
}

.date{
    float : right;
    width: 50%;
    margin-right:5%;
}

.tickets{
    float : right;
    width: 30%;
    margin-right:5%;
}

.pagination{
    float: right;
    margin-right: 100;

}

.button_search{
    float:left;
}

.navbar{
    margin:0%;
    border-radius: 0;
    font-size: 130% !important;
    font-family: 'Open Sans', sans-serif !important;

}

.labels_register{
    float : left;
    margin-left:5%;
}

.list_register{
    float :right;
}

.image{
    height : 70%;
    width : 40%;
}


td.detail_movies {
    width:20%;
    font-size:150%;
}

.btn-light{
    width:20%;
    margin:2%;
    background:white;
}

.button{
    width:30%;
}

.btn{
    background: #e6b3ff;
}
.alphabets{
    padding-top:1.5%;
    padding-left:5%;
}

.naming{
    font-size:110%;
}

.seat_arrangement{
    width:60%;
}

.date_arrangement{
    margin-top:30%;
    float: left;
}

.eyes{
    margin-top:0%;
    margin-bottom:10%;
}

.eyes_font{
    font-size
}

.seat_button{
    width:6%;
}

.navbar-center{
    margin:1%;
}

.seats{
    width:5%;
    height:5%;
}

.book_button{
    background: white;
    width:40%;
}

.container-corousel{
    margin-top:0.5%;
    width:95%;
}

.table-hover{
    background:white;
}

.date-button{
    margin-top:2%;
    margin-bottom:2%;
}

table.date_button td{
    background: url(http://www.fillster.com/images/backgrounds/126d.gif);
    background-repeat: repeat;
    background-attachment: scroll;
    background-attachment: fixed;
    background-repeat: repeat;
}

tr.noborder td{
    border: 0;
}
