
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}
    <nav class="navbar navbar-inverse">

      <div class="container-fluid">
        <div class="navbar-header" style="margin-right:5%;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <!--<div class="nav navbar-nav navbar" style="margin-bottom:6%;">-->
                    <!--<a class="navbar-brand" href='#'>-->
                        <!--<img src="{% static 'media/showtogo_logo.png' %}" style="width:80%;"/>-->
                    <!--</a>-->
                <!--</div>-->
             <div class="nav navbar-left" style="margin-right:5%">
                <a class="navbar-brand" href='{% url "Booking:movie-list" %}' style="font-color:red;font-weight:200%;">showTOGO</a>
             </div>
         </div>
        {% if request.user.is_authenticated %}
            <div class="collapse navbar-collapse" id="topNavBar">

                <div class="nav navbar-nav navbar" style="margin-right:5%">
                    <a class="navbar-brand" href='{% url "Booking:user-booking" %}'>Your Bookings</a>
                </div>

                <div class="nav navbar-nav navbar">
                    <a class="navbar-brand" href='{% url "Booking:movie-list" %}'>Movies</a>
                </div>

                 <form action="/movie-list/" method="post">
                    {% csrf_token %}
                    <div class="nav navbar-nav navbar-center">
                        <input id="movies_filter" name="movies_filter" type="text">
                        <button onclick="Movies_Filter();">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </form>



               <div class="nav navbar-nav navbar-right">
                    <a class="navbar-brand" href='{% url "logout" %}'>Logout&ensp;({{user}})</a>
                </div>
                <div class="nav navbar-nav navbar-right" style="margin-right:5%">
                    <a class="navbar-brand" href='{% url "Booking:google-chart" %}'>Booking Status</a>
                </div>
            </div>
        {% endif %}

        </div>
    </nav>

</body>

</html>