
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}
    <nav class="navbar navbar-inverse">

        <div class="container-fluid">
        {% if request.user.is_authenticated %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a class="navbar-brand" href='#'><span class="#" aria-hidden="true">PyPanel</span></a>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <a class="navbar-brand" href='#'><span class="#" aria-hidden="true">PyPanel</span></a>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <a class="navbar-brand" href='#'><span class="#" aria-hidden="true">PyPanel</span></a>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
            </div>
                <div class="nav navbar-nav navbar-left">
                    <img src="{% static 'media/showtogo_logo.png' %}" style="width:110%;margin-left:20px;font"/>
                </div>

                <div class="nav navbar-nav" style="margin-left:10%">
                    <a class="navbar-brand" href='{% url "Booking:movie-list" %}'>Movies</a>
                </div>

                 <form action="/movie-list/" method="post">
                    {% csrf_token %}
                    <div class="nav navbar-nav navbar-center col-sm-6">
                        <input id="movies_filter" name="movies_filter" type="text" style="width:80%;">
                        <button onclick="Movies_Filter();">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </form>


                <div class="nav navbar-nav navbar-right col-sm-2">
                    <a class="navbar-brand" href='{% url "logout" %}'>Logout&ensp;({{user}})</a>
                </div>
        {% endif %}

        </div>
    </nav>

</body>

</html>